@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root{
    --main_color: #00abf0;
    --text_color: #ededed;
    --bg_color: #081b29;
    --second_bg_color: #112e42;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'poppins',sans-serif;
}
html{
    font-size: 70%;
    overflow-x: hidden;
}
body{
    background: var(--bg_color);
    color:var(--text_color);
}
/* Heading section starts */
.heading{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 9%;
    background:transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    transition: .3s;
}
.heading.sticky{
    background: var(--bg_color);
}

.logo{
    position: relative;
    font-size: 2rem;
    color:var(--text_color);
    font-style: italic;
    font-weight:600;
}
.navBar {
    position: relative;
}

.navBar a{
    font-size: 1.4rem;
    color:var(--text_color);
    font-weight: 500;
    margin-left: 3.5rem;
    transition: .3s;
}

.navBar a:hover,
.navBar a.active{
    color:var(--main_color);
}

#menu_icon{
    position: relative;
    font-size: 3.6rem;
    color: var(--text_color);
    cursor: pointer;
    display: none;
}

/* Heading section ends */

/* Home section starts*/
section{
    min-height: 100vh;
    padding: 4rem 9% 1rem;
}
.home{
    background: url('images/home.avif');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    padding:0 5%;
}

.home_content{
    max-width: 40rem;
    z-index: 99;
}
.home_content h1{
    position: relative;
    display: inline-block;
    font-size: 4rem;
    font-weight: 700;
    line-height: 1.3;
}
.home_content h1 span{
    color: var(--text_color);
}

.home_content .text_animate{
    position: relative;
    width: 32.8rem;
}
.home_content .text_animate h3{
    font-size: 3.2rem;
    font-weight: 700;
    color: transparent;
    -webkit-text-stroke: .7px var(--main_color);
    background-image: linear-gradient(var(--main_color), var(--main_color));
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    background-position: -33rem 0;
    
}
.home.show_animate .home_content .text_animate h3{
    animation: homeBgText 6s linear infinite;
    animation-delay: 2s;
}
.home_content .text_animate h3::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    border-right: 2px solid var(--main_color);
    z-index: -1;
    
}
.home.show_animate .home_content .text_animate h3::before{
    animation: homeCursorText 6s linear infinite;
    animation-delay: 2s;
}
.home_content p{
    position: relative;
    font-size: 1.6rem;
    margin: 2rem 0 4rem;
}
.home_imgHover{
    position: absolute;
    top: 0;
    right: 0;
    width: 52%;
    height: 100%;
    background: transparent;
    transition: 3s;
}

.home_imgHover:hover{
    background:black;
    opacity: .8;
}

.btn_box{
    position: relative;
    display: flex;
    justify-content: space-between;
    width:25rem;
    height: 2.5rem;
}

.btn_box .btn{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 12rem;
    height: 100%;
    background: var(--main_color);
    border: .2rem solid var(--main_color);
    border-radius: .8rem;
    font-size: 1.4rem;
    color: var(--bg_color);
    letter-spacing: .1rem;
    font-weight: 600;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}
.btn_box .btn:hover{
    color: var(--main_color);
}

.btn a:nth-child(2){
    background: transparent;
    color: var(--main_color);
}
.btn a:nth-child(2):hover{
    color:var(--bg_color);
}
.btn a:nth-child(2)::before{
    background:var(--main_color) ;
}

.btn_box .btn::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background:var(--bg_color);
    z-index: -1;
    transition: .5s;
}

.btn_box .btn:hover::before{
    color: var(--main_color);
    width: 100%;
}


/* social media icons */


.social_media{
    position: absolute;
    bottom: 4rem;
    width: 250px;
    display: flex;
    justify-content: space-between;
}
.social_media a{
    position: relative;
    display:inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: .2rem solid var(--main_color);
    border-radius: 50%;
    font-size: 20px;
    color: var(--main_color);
    z-index: 1;
    overflow: hidden;
    transition: .5s; 
}

.social_media a:hover{
    color: var(--bg_color);
}
.social_media a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--main_color);
    z-index: -1;
    transition: .5s;
}
.social_media a:hover::before{
    width: 100%;
}
/* About design starts */
.about {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    background: var(--second_bg_color);
    padding-bottom: 6rem;
}
.head {
    position: relative;
    font-size: 3.6rem;
    margin: 0 0 2rem 0;
    text-align: center;
}
span{
    color: var(--main_color);
}

.about_img {
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about_img img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    border: .1rem solid var(--main_color);
}
.about_img .circle_spin {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0);
    width: 110%;
    height: 110%;
    border-radius: 50%;
    border-top: .1rem solid var(--second_bg_color);
    border-bottom: .1rem solid var(--second_bg_color);
    border-left: .1rem solid var(--main_color);
    border-right: .1rem solid var(--main_color);
    animation: aboutSpinner 8s linear infinite;
}

.about_content {
    text-align: center;
}

.about_content h3 {
    position: relative;
    display: inline-block;
    font-size: 2.6rem;
}
.about_content p {
    position: relative;
    font-size: 1.8rem;
    margin: 2rem 0 3rem;
}
.btn_box.btns {
    position: relative;
    display: inline-block;
    width: 15rem;
}
.btn_box.btns::before {
    background: var(--second_bg_color);
}

/* Education design starts */
.education {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 6rem;
}
.education .education_row {
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
}
.education .education_column {
    flex: 1 1 40rem;
}
.education_column .title {
    position: relative;
    display: inline-block;
    font-size: 2.6rem;
    margin:0 0 1.5rem 2rem;
}
.education_column .education_box {
    position: relative;
    border-left: .2rem solid var(--main_color);
}

.education_box .education_content {
    position: relative;
    padding-left: 2rem;
}

.education_box .education_content::before {
    content: '';
    position: absolute;
    top: 0;
    left: -1.1rem;
    width: 2rem;
    height: 2rem;
    background: var(--main_color);
    border-radius: 50%;
}

.education_content .content {
    position: relative;
    padding: 1.5rem;
    border: .2rem solid var(--main_color) ;
    border-radius: .6rem;
    margin-bottom: 2rem;
    overflow: hidden;
}

.education_content .content::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--second_bg_color);
    z-index: -1;
    transition: .5s;
}

.education_content .content:hover::before {
    width: 100%;
}

.education_content .content .year {
    font-size: 1.5rem;
    color: var(--main_color);
    padding-bottom: .5rem;
}

.education_content .content .year i{
    padding-right: .5rem;
}

.education_content .content h3 {
    font-size: 2rem;
}
.education_content .content p {
    font-size: 1.6rem;
    padding-top: .5rem;
}

/* Skills Section starts */
.skills {
    padding-bottom: 7rem;
    background: var(--second_bg_color);
}

.skills .skills_row {
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
}
.skills_row .skills_column {
    flex: 1 1 40rem;
}
.skills_column .title {
    font-size: 2.6rem;
    margin: 0 0 1.5rem;
}

.skills_box .skills_content {
    position: relative;
    border: .2rem solid var(--main_color);
    border-radius: .6rem;
    padding: .5rem 1.5rem;
    z-index: 1;
    overflow: hidden;
}

.skills_box .skills_content::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--bg_color);
    z-index: -1;
    transition: .5s;
}

.skills_box .skills_content:hover::before{
    width: 100%;
}

.skills_content .progress{
    padding: 1rem 0;
}
.skills_content .progress .link a{
    font-size: 1.5rem;
    color:var(--text_color);
    font-weight: 700;
    margin-left: 3rem;
    transition: .3s;
}
.skills_content .progress h3{
    font-size: 1.5rem;
    margin-right: 3rem;
    font-weight: 600;
    float: right;
}
.skills_content .progress .link a:hover{
    color:var(--main_color);
}

.skills_content .progress h3 span{
    color: var(--text_color);
}

.skills_content .progress .bar{
    height:2.5rem;
    border-radius: .6rem;
    border: .2rem solid var(--main_color);
    padding: .5rem;
    margin: 1rem 0;
}
.skills_content .progress .bar span{
    display: block;
    height: 100%;
    border-radius: .3rem;
    background: var(--main_color);
}
.skills_column:nth-child(1) .skills_content .progress:nth-child(1) .bar span {
    width: 90%;
}
.skills_column:nth-child(1) .skills_content .progress:nth-child(2) .bar span {
    width: 80%;
}
.skills_column:nth-child(1) .skills_content .progress:nth-child(3) .bar span {
    width: 70%;
}
.skills_column:nth-child(1) .skills_content .progress:nth-child(4) .bar span {
    width: 60%;
}
.skills_column:nth-child(1) .skills_content .progress:nth-child(5) .bar span {
    width: 85%;
}

/* Conatct design starts */
.contact {
    padding-bottom: 7rem;
}

.contact form{
    max-width: 70rem;
    margin: 0 auto;
    text-align: center;
}

.contact form .input_box{
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.contact form .input_box .input_field{
    position: relative;
    width: 49%;
    margin: .8rem 0;
}

.contact form .input_box .input_field input,
.contact form .textarea_field textarea {
    width: 100%;
    height: 100%;
    padding: 1.5rem;
    font-size: 1.5rem;
    color: var(--text_color);
    background: transparent;
    border-radius: .6rem;
    border: .2rem solid var(--main_color);
}

.contact form .input_box .input_field input::placeholder,
.contact form .textarea_field textarea::placeholder{
    color: var(--text_color);
}

.contact form .focus{
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: yellowgreen;
    border-radius: .6rem;
    z-index: -1;
    transition: .5s;
}
.contact form .input_box .input_field input:focus~.focus,
.contact form .input_box .input_field input:valid~.focus{
    width: 100%;
}
/* error not showing color while hover textarea field */
.contact form .textarea_field textarea:text .focus,
.contact form .textarea_field textarea:valid .focus{
    width: 100%;
}

.contact form .textarea_field{
    position: relative;
    margin: .8rem 0 2.7rem;
    display: flex;

}

.contact form .textarea_field textarea{
    resize: none;
}
.contact form .btn_box.btns .btn {
    cursor: pointer;
    margin-top: 3rem;
}

/* footer design starts */
.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background: var(--second_bg_color);
}

.footer_text p{
    font-size: 1.6rem;
}

.footer_iconTop a{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    background: var(--main_color);
    border: .2rem solid var(--main_color);
    border-radius: .6rem;
    z-index: 1;
    overflow: hidden;
}
.footer_iconTop a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--second_bg_color);
    z-index: -1;
    transition: .5s;
}
.footer_iconTop a:hover::before {
    width: 100%;
}
.footer_iconTop a i{
    font-size: 2.4rem;
    color: var(--bg_color);
    transition: .5s;
}
.footer_iconTop a:hover i{
    color: var(--main_color);
}

/* Breakpoints */
@media (max-width: 1200px){
    html{
        font-size: 60%;
    }
}
@media (max-width: 991px){
    .header {
        padding: 2rem 4%;
    }
    section {
        padding: 10rem 4% 2rem;
    }
    .home {
        padding: 0 4%;
    }
    footer {
        padding: 2rem 4%;
    }
}
@media (max-width: 850px) {
    .animate.home_img{
        width: 55%;
    }
    
}
@media (max-width: 768px) {
    .header {
        background: var(--bg_color);
    }
    #menu_icon {
        display: block;
    }
    .navBar {
        position: absolute;
        top: 100%;
        left: -100%;
        width: 100%;
        padding: 1rem 4%;
        background: var(--main_color);
        box-shadow: 0 .5rem 1rem rgba(0,0,0,.2);
        z-index: 1;
        transition: .25s ease;
        transition-delay: .25s;
    }
    .navBar.active {
        left: 0;
        transition-delay: 0s;
    }
    .navBar .active_nav {
        position: absolute;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background: var(--bg_color);
        border-top: .1rem solid rgba(0, 0, 0, 0.2);
        z-index: -1;
        transition: .25s ease;
        transition-delay: 0s;
    }
    .navBar.active .active_nav {
        left: 0;
        transition-delay: .25s;
    }
    .navBar a {
        display:block;
        font-size: 2rem;
        margin: 3rem 0;
        transform: translateX(-20rem);
        transition-delay: 0s;
    }
    .navBar.active a {
        transform: translateX(0);
        transition-delay: .25s;
    }
    .home_imgHover {
        pointer-events: none;
        background:black;
        opacity: .6;
    }
}
@media (max-width:520px){
    html {
        font-size: 50%;
    }
    .social_media {
        width: 220px;
    }
    .social_media a{
        width: 38px;
        height: 38px;
    }
}
@media (max-width:462px) {
    .home_content h1{
        font-size: 6rem;
    }
    .education {
        padding: 10rem 4% 5rem 5%;
    }
    .contact form .input_box .input_field{
        width: 100%;
    }
    .footer {
        flex-direction: column-reverse;
    }
    .footer p {
        margin-top: 2rem;
        text-align: center;
    }
}
@media(max-width:371px){
    .home{
        justify-content: center;
    }
    .home_content{
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }
    .home_content h1{
        font-size: 5rem;
    }
}

/* Key frames */
@keyframes homeBgText {
    0%,10%,100% {
        background-position: -33rem 0;
    }
    65%,85% {
        background-position: 0 0;
    }

}
@keyframes homeCursorText {
    0%,10%,100% {
        width:0;
    }
    65%,85% {
        width:100%;
        opacity: 1;
    }
    75%,81%{
        opacity: 0;
    }

}

@keyframes aboutSpinner {
    100%{
        transform: translate(-50%, -50%) rotate(360deg);
    }
    
}
@keyframes showRight {
    100%{
        width: 0;
    }
}